body {
  background-color: white;
}

h1{
  color: indigo; 
  text-align: center;
  font-family:'Indie Flower', cursive;
}

h2{
  color: dimgray; 
  text-align:center;
  font-family:'Indie Flower', cursive;
}

ul.nav { 	 
list-style-type: none; 
} 

ul.nav a { 
text-decoration: none; 
}

ul.nav { 	 
list-style-type: none; 	 
padding-left: 0; 	 
margin-left: 0; 
} 
 
ul.nav a { 	 
text-decoration: none; 
}

